.sombraTxt{
    color:yellow;
    text-shadow:1px 0 0 orangered,-1px 0 0 orangered,0 1px 0 orangered,0 -1px 0 orangered;
}

.sombraTxt:hover{
    text-shadow: none;
}

.caja-outline:hover{
    cursor: pointer;
   box-shadow:0 0 20px rgb(57, 211, 57),2px 2px green,-2px -2px green;
}
.caja-outline{
    box-shadow: none;
}