.caja-outline{
    border: 1px dotted rgb(83, 4, 94);
    border-radius: 10px;
    padding: 20px;
    min-height: 300px;

    background-image:radial-gradient(circle,rgb(255, 171, 93),orange,orangered);
}