html body{
   background-image: url('../img/bg.jpg');
   background-size: cover;
   color:green;
}

.container{
    height: 800px;
    width: 190%;
    padding: none;
    background-color:rgba(255, 255, 255, 1);
    border-radius: 0 0 15px 15px;
    border: 1px dotted white;
    
}
nav{
    width: 106%;
    margin-left: -35px;
    margin-top: -2px;
    border: 1px solid  #9d44f0;
    background-color: #8a3fd1;
    color: white!important;
    border-radius: 0 0 10px 10px;
}
h1{
    color:rgb(142, 26, 165);
    font-weight: bolder;
}
hr{
    background-color: rgb(122, 7, 175);
}

.caja{
    color: black;
    text-align: justify;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    min-height: 300px;
}

