.caja-outline{
    border: 1px dotted rgb(247, 183, 255);
    border-radius: 10px;
    padding: 20px;
    min-height: 300px;
}

.colorKeyword{
    background-color:transparent;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border:1px solid currentColor;
}